<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">My blog</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/posts"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts/add" routerLinkActive="active">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
