<div class="mt-3">
  <h1>Posts</h1>
  <div class="alert alert-primary mt-3 col-6" *ngFor="let post of postsArray">
    <p><span style="font-size: 13px">Created on :</span> {{ post.date }}</p>
    <p><strong>{{ post.title }}</strong></p>
    <p class="text-right">
      <a
        class="btn btn-primary"
        [routerLink]="['/posts', post.id]"
        routerLinkActive="active"
      >Read more
      </a>
    </p>
  </div>
</div>

